footer{
    background-color: $color-principal;
}
.container-foot{
    display: flex;
    justify-content: space-around;
}
.foot-list{
    list-style: none;
}
.foot-list li a{
    text-decoration: none;
    color: #000000;
}
.instagram{
    padding-left: 2rem;
    background-image: url(../assets/Instagram.png);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

.facebook{
    padding-left: 2rem;
    background-image: url(../assets/facebook-new.png);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

.whatsapp{
    padding-left: 2rem;
    background-image: url(../assets/whatsapp.png);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}