.card {
    height: 650px; 
    width: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column; 

    background: linear-gradient(to bottom, $color-principal, #ffffff);
    padding: 20px;
}

.card div {
    height: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card div img {
    width: 80%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.5rem;
    padding-top: 15px;
    color: #000000;
}

.card p {
    font-size: 1.6rem;
    padding-top: 10px;
    color: #000000;
    margin-top: auto;
}
