.cont-envio{
    display: flex;
    justify-content: center;
    .card-envio{
    border-radius: .3125rem;
    box-shadow: 5px 5px 10px black;
    text-align: center;
    margin: 1.25rem;
    width: 62.5rem;
    p{
        padding: .625rem
    }
    
    }
}